*{
    background-color: #fbd086;
    color: #2baf90;
    font-family: serif;
}

:root {
    --box-shadow-color-1: #a1d4b1;
    --border: #8c0027;
}

.header h1 {
    font-size: 200%;
}

.header span {
    box-shadow: 2px 2px 15px #dd4111;
    color: #8c0027;
}

.header nav {
    float: right;
    margin-right: 20px;
    position: absolute;
    right: 0%;
    top: 2%;
}


.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.me {
    position: relative;
    right: -44%;
    width: 14%;
    margin-bottom: 25px;
    border-radius: 10%;
}

.about-me {
    position: relative;
    top: -80px;
    padding: 2% 2%;
    font-size: 180%;
    border: 10px solid var(--border);
    border-radius: 8%;
    width: 20%;;
    box-shadow: 10px 11px 17px var(--box-shadow-color-1);
    
}

#about-me:hover::after {
    content: "Hi My name is Joseph and i'm an aspiring webdevolper";
    position: relative;
    font-size: 80%;
}

.project-1 {
    position:relative;
    left: 49%;
    border: 10px solid var(--border);
    border-radius: 8%;
    width: 20%;
    padding: 11% 15%;
    box-shadow: -15px -16px 27px var(--box-shadow-color-1);
    
}

.project-2 {
    position: relative;
    border: 10px solid var(--border);
    border-radius: 8%;
    width: 20%;
    padding: 10%;
    box-shadow: 10px 10px 20px var(--box-shadow-color-1);
}

.project-3 {
    position: relative;
    left: 49%;
    border: 10px solid var(--border);
    border-radius: 8%;
    width: 20%;
    padding: 10%;
    box-shadow: -15px -16px 20px var(--box-shadow-color-1);
}

.contact-info h4 {
    position: absolute;
    font-size: 200%;
    bottom: -115%;
}

#logo {
    position: absolute;
    left: 0%;
    bottom: -130%;
    max-width: 5%;
}

#logo-2 {
    position: absolute;
    left: 10%;
    bottom: -130%;
    max-width: 5%;
}