*{
    background-color: rgb(8, 8, 8);
    color: rgb(228, 10, 199);
}

:root {
    --box-shadow-color: rgb(228, 10, 199);
}

.header span {
    box-shadow: 2px 2px 6px var(--box-shadow-color);
    color: rgb(12, 8, 212);
}