*{
    background-color: #fbd086;
    color: #2baf90;
}

:root {
    --box-shadow-color-1: #8c0027;
}

.header span {
    box-shadow: 2px 2px 15px var(--box-shadow-color-1);
    color: #8c0027;
}

.header nav {
    float: right;
    margin-right: 20px;
}


.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.about-me {
    margin-bottom: 20px;
}